//colors
$accent-color: #598d66;
$text-color-gray: #86928b;
$text-color-black: #2c2d35;
$text-color-white: #f4f6f5;
$bg-color: #e1ede6;
$widget-color-green: #376b44;
$widget-color-yellow: #EEDB6D;
$light-green-btn: #D4E8D9;

//sizes
$container-width: 1110px;
